<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

    <title>posts</title>
    <style type="text/css">
        *{
         color: white;
         background-color: grey;
         font-family: 'Merriweather', serif;
         }

    </style>
</head>
<body>


<h1>View advertisement</h1>

<div>
    <div id="pic"><img src="{{post.image}}" width="200" height="180"></div>
    <div>Make: {{post.car}}</div>
    <div>Description: {{post.description}}</div>
    <div>MY Contacts: {{post.contacts}}</div>
</div>
<a href="/"><h4>Return to home page</h4></a>
</body>
</html>